html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
}
/**
 * HTML5 display-role reset for older browsers
 */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
/**
 * End of Reset
 */

/** start of karma styles **/
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
    background-color: rgba(207, 207, 207, 1);
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
}
div {
    border: 1px solid rgba(133, 70, 46, 1);
}
.content {
    padding: 0px 15px;
    margin: 0 auto;
}
.logo {
  height: 4.375rem;
}
/** navigation **/

.top-nav {
    background-color: rgba(255, 255, 255, 1);
    position: fixed;
    width: 100%;
    border-bottom: 1px solid #DDD;
    z-index: 9999;
}
.top-nav > .content {
  width: 970px;
  height: 70px;
  margin: 0 auto;
}
.top-nav  {
    height: 4.375rem;
}
.top-nav .links {
    float: right;
    color: rgba(131, 137, 148, 1);
    font-size: 1em;
    margin-top: 1.5em;
}
.top-nav .links li {
    display: inline-block;
    margin-left: 1.5em;
}
.top-nav .links li.active {
    color: #4c5058;
    font-weight: 500;
}
.top-nav .links li:hover {
    cursor: pointer;
    color: #333333;
}
/** end nav **/
/** intro section **/
.intro {
   background-image: url('../images/karma-intro-background.jpg');
   background-position: center bottom;
   background-repeat: no-repeat;
   background-size: cover;
}
